<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.jueggs.popularmovies"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/RankingTheme">
        <activity android:name=".ui.main.RankingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.detail.DetailActivity"
            android:theme="@style/DetailsTheme"
            android:parentActivityName=".ui.main.RankingActivity" />
        <activity
            android:name=".ui.favourite.FavouriteActivity"
            android:parentActivityName=".ui.main.RankingActivity" />
        <activity
            android:theme="@style/LoginTheme"
            android:name=".ui.login.LoginActivity"
            android:parentActivityName=".ui.main.RankingActivity" />

        <provider
            android:name=".data.favourites.generated.FavouritesProvider"
            android:authorities="com.jueggs.popularmovies" />

        <receiver android:name=".receiver.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>